* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
/* font-size */
h1 {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #6c6c6c;
}

/*-----------
    top bannar
       ----------- */
/* ----------------------------------------------------------------
-----------------------Main Sections Style----------------------
---------------------------------------------------------------- */

.main-section {
  display: flex;
  justify-content: space-evenly;
  background: rgb(45, 37, 160);
  height: 600px;
  align-items: center;
  line-height: 80px;
  margin-bottom: 70px;
}

main h1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  transition: font-size 2s;
}
h1:hover {
  font-size: 3rem;
}

.btn {
  height: 44px;
  width: 168px;
  font-size: 16px;
  font-weight: 500;
  background: rgb(224, 44, 109);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.banner-img img {
  width: 556px;
  height: 456px;
}
/*------------
        player background 
            --------------- */
.player-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
}

.image img {
  height: 256px;
  width: 300px;
}
.player {
  height: 456px;
  width: 330px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
/* ------------
        player background end 
                ----------------- */

/* Copa America styles */
.Copa-America-section {
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}
h1 {
  padding-bottom: 15px;
  font-size: 48px;
}
.link {
  padding-top: 15px;
}
.banner-img {
  width: 570px;
  height: 480px;
}
/* Copa America styles end */

/* Resistration from added  */
.form-title .from-info {
  text-align: center;
}
section.from {
  text-align: center;
}
/* resistretion from added  */
section.resistretion-from {
  text-align: center;
}
/*------------------
     added videos styles
----------------- */
.videos-title {
  padding: 20px;
}
span {
  color: rgba(1, 1, 68, 0.788);
}
.videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  margin-left: 45px;
}
/* logo set-up  */

img {
  width: 484px;
  height: 110px;
  margin-top: 20px;
}
.logo-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------
        social icon added 
        ----------------- */

.social-icon {
  text-align: center;
  color: gray;
  margin-top: 10px;
}
i {
  padding: 3px;
}

/*-----------------
           added footer
           --------------------  */
footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 20px;
}

/*----------------------
          media query
          ----------------------- */
/* @media (max-width: 700px) {
}
.main-section {
  width: 280px;
  /* height: 40%; */
/* display: flex;
  flex-wrap: wrap;
} */
/*----------------------
            media query
            ----------------------- */
@media (max-width: 600px) {
  .player-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
  }
  .Copa-America-section {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 80%;
  }

  .banner-img img {
    width: 80%;
    height: auto;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
  }

  .videos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5px;
    width: 80%;
  }

  .logo-set {
    width: 80%;
    height: auto;
  }
}
